################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/3DEditor/3DEditor.vcxproj.user
/RDFViewer/RDFViewer.vcxproj.user
/RDFViewer/x64/Debug
/3DEditor/x64/Debug
/Test3DEditor/x64/Debug
/x64/Debug/Test3DEditor.pdb
/x64/Debug/Test3DEditor.exe
/x64/Debug/RDFViewer.pdb
/x64/Debug/RDFViewer.exe
/x64/Debug/3DEditor.*
/3DEditor/x64/Release
/3DEditor/3DEditor_OpenGL_Debug.txt
/RDFViewer/x64/Release
/Test3DEditor/x64/Release
/x64/Release/Test3DEditor.pdb
/x64/Release/RDFViewer.pdb
/Test3DEditor/Test3DEditor.vcxproj.user
/3DEditor/3DEditor.aps
/RDFViewer/RDFViewer.aps
/3DEditor/_OpenGL_Debug_.txt
/x64/Debug/RDFViewer.lib
/x64/Debug/RDFViewer.exp
/x64/Release/RDFViewer.lib
/x64/Release/RDFViewer.exp
/3DEditor/Win32
/Debug/Test3DEditor.pdb
/Debug/RDFViewer.pdb
/Test3DEditor/Debug
/Test3DEditor/Release
/Win32/Debug/3DEditor.pdb
/Win32/Release/3DEditor.pdb
/Release
/RDFViewer/Debug
/Win32/Debug/Test3DEditor.pdb
/Win32/Debug/RDFViewer.pdb
/Win32/Release/Test3DEditor.pdb
/Win32/Release/RDFViewer.pdb
/RDFViewer/Release
/Win32/Debug/Test3DEditor.exe
/Win32/Debug/RDFViewer.exe
/Win32/Debug/3DEditor.exe
/Win32/Debug/3DEditor.settings
/Win32/Release/3DEditor.settings
/x64/Release/3DEditor.settings
/x64/Release/3DEditor.pdb
/3DEditor/x64/Debug_stepengine
/3DEditor/x64/Release_stepengine
/RDFViewer/Debug_stepengine/RDFViewer.tlog
/RDFViewer/Debug_stepengine
/RDFViewer/Release_stepengine
/Test3DEditor/Debug_stepengine
/Test3DEditor/Release_stepengine
/Win32/Debug_stepengine/Test3DEditor.pdb
/Win32/Debug_stepengine/Test3DEditor.exe
/Win32/Debug_stepengine/RDFViewer.pdb
/Win32/Debug_stepengine/RDFViewer.exe
/Win32/Debug_stepengine/3DEditor.pdb
/Win32/Debug_stepengine/3DEditor.exe
/Win32/Release_stepengine/Test3DEditor.pdb
/Win32/Release_stepengine/Test3DEditor.exe
/Win32/Release_stepengine/RDFViewer.pdb
/Win32/Release_stepengine/RDFViewer.exe
/Win32/Release_stepengine/3DEditor.pdb
/x64/Debug_stepengine/3DEditor.pdb
/x64/Debug_stepengine/3DEditor.exe
/x64/Release_stepengine/3DEditor.pdb
/3DEditor/x64/Debug_ifcengine
/3DEditor/x64/Release_ifcengine
/Win32/Debug_ifcengine/3DEditor.pdb
/Win32/Debug_ifcengine/3DEditor.exe
/x64/Debug_ifcengine/3DEditor.pdb
/x64/Debug_ifcengine/3DEditor.exe
/x64/Release_ifcengine/3DEditor.pdb
/Win32/Release_ifcengine/3DEditor.pdb
/3DEditor/x64/Debug_cis2engine
/3DEditor/x64/Release_cis2engine
/Win32/Debug_cis2engine/3DEditor.exe
/Win32/Debug_cis2engine/3DEditor.pdb
/Win32/Release_cis2engine/3DEditor.pdb
/3DEditor/x64/Release__ifcengine
/x64/Debug_cis2engine/3DEditor.exe
/x64/Debug_cis2engine/3DEditor.pdb
/x64/Release_cis2engine/3DEditor.pdb
/Win32/Debug/data/texture.jpg
/Win32/Debug/bin2gltf.dll
/Win32/Debug/engine.dll
/Win32/Debug/gisengine.dll
/Win32/Debug/glew32.dll
/Win32/Debug_cis2engine/data/texture.jpg
/Win32/Debug_cis2engine/bin2gltf.dll
/Win32/Debug_cis2engine/cis2engine.dll
/Win32/Debug_cis2engine/glew32.dll
/Win32/Debug_ifcengine/data/texture.jpg
/Win32/Debug_ifcengine/bin2gltf.dll
/Win32/Debug_ifcengine/gisengine.dll
/Win32/Debug_ifcengine/glew32.dll
/Win32/Debug_ifcengine/ifcengine.dll
/Win32/Debug_stepengine/data/texture.jpg
/Win32/Debug_stepengine/bin2gltf.dll
/Win32/Debug_stepengine/gisengine.dll
/Win32/Debug_stepengine/glew32.dll
/Win32/Debug_stepengine/stepengine.dll
/x64/Debug/data/texture.jpg
/x64/Debug/bin2gltf.dll
/x64/Debug/engine.dll
/x64/Debug/gisengine.dll
/x64/Debug/glew32.dll
/x64/Debug_cis2engine/data/texture.jpg
/x64/Debug_cis2engine/bin2gltf.dll
/x64/Debug_cis2engine/cis2engine.dll
/x64/Debug_cis2engine/glew32.dll
/x64/Debug_ifcengine/data/texture.jpg
/x64/Debug_ifcengine/bin2gltf.dll
/x64/Debug_ifcengine/gisengine.dll
/x64/Debug_ifcengine/glew32.dll
/x64/Debug_ifcengine/ifcengine.dll
/x64/Debug_stepengine/data/texture.jpg
/x64/Debug_stepengine/bin2gltf.dll
/x64/Debug_stepengine/gisengine.dll
/x64/Debug_stepengine/glew32.dll
/x64/Debug_stepengine/stepengine.dll
/RDFViewer/Debug_cis2engine
/RDFViewer/Release_cis2engine
/RDFViewer/Release_ifcengine
/RDFViewer/x64/Debug_cis2engine
/RDFViewer/x64/Debug_ifcengine
/RDFViewer/x64/Debug_stepengine
/RDFViewer/x64/Release_cis2engine
/RDFViewer/x64/Release_ifcengine
/RDFViewer/x64/Release_stepengine
/Test3DEditor/Debug_cis2engine
/Test3DEditor/Debug_ifcengine
/Test3DEditor/Release_cis2engine
/Test3DEditor/Release_ifcengine
/Test3DEditor/x64/Debug_cis2engine
/Test3DEditor/x64/Debug_ifcengine
/Test3DEditor/x64/Debug_stepengine
/Test3DEditor/x64/Release_cis2engine
/Test3DEditor/x64/Release_ifcengine
/Test3DEditor/x64/Release_stepengine
/Win32/Debug_cis2engine
/Win32/Debug_ifcengine
/Win32/Release_cis2engine/RDFViewer.pdb
/Win32/Release_cis2engine/Test3DEditor.pdb
/Win32/Release_ifcengine/RDFViewer.pdb
/Win32/Release_ifcengine/Test3DEditor.pdb
/x64/Debug_cis2engine
/x64/Debug_ifcengine
/x64/Debug_stepengine
/x64/Release_cis2engine/RDFViewer.pdb
/x64/Release_cis2engine/Test3DEditor.pdb
/x64/Release_ifcengine/RDFViewer.pdb
/x64/Release_ifcengine/Test3DEditor.pdb
/x64/Release_stepengine/RDFViewer.pdb
/x64/Release_stepengine/Test3DEditor.pdb
/RDFViewer/Debug_ifcengine
