################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/3DEditor/3DEditor.vcxproj.user
/RDFViewer/RDFViewer.vcxproj.user
/RDFViewer/x64/Debug
/3DEditor/x64/Debug
/Test3DEditor/x64/Debug
/x64/Debug/Test3DEditor.pdb
/x64/Debug/Test3DEditor.exe
/x64/Debug/RDFViewer.pdb
/x64/Debug/RDFViewer.exe
/x64/Debug/3DEditor.*
/3DEditor/x64/Release
/3DEditor/3DEditor_OpenGL_Debug.txt
/RDFViewer/x64/Release
/Test3DEditor/x64/Release
/x64/Release/Test3DEditor.pdb
/x64/Release/Test3DEditor.exe
/x64/Release/RDFViewer.pdb
/x64/Release/RDFViewer.exe
/x64/Release/3DEditor.*
/Test3DEditor/Test3DEditor.vcxproj.user
/3DEditor/3DEditor.aps
/RDFViewer/RDFViewer.aps
/3DEditor/_OpenGL_Debug_.txt
/x64/Debug/RDFViewer.lib
/x64/Debug/RDFViewer.exp
/x64/Release/RDFViewer.lib
/x64/Release/RDFViewer.exp
/3DEditor/Win32
/Debug/Test3DEditor.pdb
/Debug/RDFViewer.pdb
/Test3DEditor/Debug
/Test3DEditor/Release
/Win32/Debug/3DEditor.pdb
/Win32/Release/3DEditor.pdb
/Release
/RDFViewer/Debug
/Win32/Debug/Test3DEditor.pdb
/Win32/Debug/RDFViewer.pdb
/Win32/Release/Test3DEditor.pdb
/Win32/Release/RDFViewer.pdb
/RDFViewer/Release
/Win32/Release/Test3DEditor.exe
/Win32/Release/RDFViewer.exe
/Win32/Release/3DEditor.exe
/Win32/Debug/Test3DEditor.exe
/Win32/Debug/RDFViewer.exe
/Win32/Debug/3DEditor.exe
/Win32/Debug/3DEditor.settings
/Win32/Release/3DEditor.settings
